streamlit
langchain
langchain-google-genai
google-generativeai
pypdf
python-docx
faiss-cpu
sentence-transformers
tiktoken
Docx2txt
langchain-community
langchain-core
unstructured

# Añadido Docx2txt explícitamente
